  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/images/banner/banner-1.jpg" alt="First slide">
      </div>
    </div>
  </div>
<section id="project-area" class="project-area solid-bg">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h3 class="section-sub-title">{{"certificates.certificatesUpperCase" | translate}}</h3>
            </div>
        </div>
        <div class="ts-intro">
            <h3 class="into-sub-title" style="font-size:22px;">{{"certificates.certificateTitle" | translate}}</h3>
            <p class="justifyText">
                {{"certificates.certificateDescription" | translate}}
            </p>
            <br>
            <p class="justifyText">
                {{"certificates.certificateDescription2" | translate}}
            </p>
        </div>
        <!--/ Title row end -->

        <div class="row">
            <div class="col-12">
                <div class="shuffle-btn-group">
                </div><!-- project filter end -->


                <div class="row shuffle-wrapper">

                    <div class="col-lg-3 col-md-6 shuffle-item"
                        data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                        <div class="project-img-container">
                            <a href="assets/images/certificates/ca_sertifika.jpg" data-fancybox="group">
                                <img class="img-fluid" src="assets/images/certificates/ca_sertifika.jpg" alt="portfolio" width="390" height="362" />
                            </a>
                            
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">CA</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 1 end -->

                    <div class="col-lg-3 col-md-3 shuffle-item" data-groups="[&quot;healthcare&quot;]">
                        <div class="project-img-container">
                            <a href="assets/images/certificates/hsc_sertifika.jpg" data-fancybox="group">
                                <img class="img-fluid" src="assets/images/certificates/hsc_sertifika.jpg" alt="portfolio" width="390" height="362" />
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">HSC</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 2 end -->
                   
                    <div class="col-lg-3 col-md-6 shuffle-item"
                        data-groups="[&quot;infrastructure&quot;,&quot;commercial&quot;]">
                        <div class="project-img-container">
                            <a href="assets/images/certificates/sbs_sertifika.jpg" data-fancybox="group">
                                <img class="img-fluid" src="assets/images/certificates/sbs_sertifika.jpg" alt="portfolio" width="390" height="362" />
                            </a>
                          
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">SBS</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 3 end -->

                    <div class="col-lg-3 col-md-6 shuffle-item"
                        data-groups="[&quot;education&quot;,&quot;infrastructure&quot;]">
                        <div class="project-img-container">
                            <a href="assets/images/certificates/ssb_sertifika.jpg" data-fancybox="group">
                                <img class="img-fluid" src="assets/images/certificates/ssb_sertifika.jpg" alt="portfolio" width="390" height="362" />
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">SSB</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 4 end -->

                    

                </div><!-- shuffle end -->
            </div>


        </div><!-- Content row end -->
    </div>
    <!--/ Container end -->
</section><!-- Project area end -->




